
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Spectral:400,500,700&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic-ext');

body {
	font-family: 'PT Sans', sans-serif;
	color: #272727;
}

p {
	line-height: 1.5;
}

img {
	max-width: 100%;
	height: auto;
}



.container {
	width: 100%;
}
/*

HEADER

*/
.header	{
	display: flex;
	justify-content: space-between;
	max-width: 1330px;
	height: auto;
	margin: 0 auto;
	padding: 20px 0;
}

.header__logo {
	justify-content: flex-start;
}

.header__sidebar {
	padding:20px 20px 0 0;
}

.header__sidebar ul li {
	display: inline-block;
}


/*

TOP MAIN MENU

*/
.navbar-container {
	width: 100%;
	background: #3d477f;
}

.navbar {
	display: flex;
	justify-content: space-between;
	max-width: 1330px;
	margin: 0 auto;
}

.navbar__top {
	display: block;
	position: relative;
	background: #3d477f;
	color:white;
	text-transform: uppercase;
}

/*toggle btn for responsive menu */

.menu-button {
	display: none;
}

button.navbar-toggle {
	display: inline-block;
 	cursor: pointer;
	background-color: inherit;
	border: 0px;
}

button.navbar-toggle:focus {
	outline: none;
}

.change .one-anim {
  	-webkit-transform: rotate(-45deg) translate(-9px, 6px);
  	transform: rotate(-45deg) translate(-9px, 6px);
}

.change .two-anim {
	opacity: 0;
}

.change .three-anim {
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
  	transform: rotate(45deg) translate(-8px, -8px);
}

.menu-button span.icon-menu-btn {
	display: block;
	width: 30px;
	height: 5px;
	background-color: #3d477f;
	margin: 6px 0;
	margin-right: 5px 0;
	transition: 0.4s;

}

.navbar__top ul {
	padding: 0;
}

.navbar__top ul li {
	display: inline-block;
	list-style-type: none;
	padding-right: 20px;
}

.navbar__top ul li a {
	
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: white;
    padding: 15px;
    line-height: 30px;
    text-decoration: none;
}

.carent {
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-top-color: white;
 	border-bottom: 0;
 	margin-left: 5px;
 	display: inline-block;
}

.dropdown-menu {
	position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    min-width: 100%;
    padding: 5px 0;
    list-style: none;
    background: #3d477f;
}

.dropdown-menu div.table {
  display: table;
  border-color: #3a87ad;
  padding: 0;
  border-spacing: 5px;
}

.dropdown-menu div.table ul.row {
  display: table-row;
  
}

.dropdown-menu div.table ul li.cell {
  display: table-cell;
 
}

.dropdown-menu ul li a {
	  color: white;
	  font-weight: 400;
	  font-size: 12px;
}

.dropdown-menu ul li a:hover {
	 text-decoration: underline;
}

.form-group {
	box-sizing: border-box;
	max-width:100%;
	background: #4b5795;
}



.input-search {
	width: 70%;
	padding-left: 10px;
	height: 60px;
	background: transparent;
	border-radius: 0;
	border:0;
	color: white;

}

.input-search:focus, .btn:focus {
  	outline-style:none;
	box-shadow:none;
	border-color:transparent;
}

.input-search  {
    caret-color : white;
}

.input-search::placeholder {
	color: white;
  	opacity: 1; /* Firefox */
}


.btn {
	height: 100%;
	background: transparent;
	border:1px solid red;
	cursor: pointer;
  	border: none;
  	color: white;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
}

.btn-search {
	padding: 17px 15px;
}


.fa-search {
	color: white;
}


/*
	MAIN SLIDE-CONTENT
*/


.slide-main-content {
	background-image: url(../uploads/slider/44.jpg);
	height:500px;
	background-size: cover;
	opacity: 1;
}


.row-dot {
	position: relative;
	max-width: 100%;
	height: 50px;
}


.dot-content {
	position: absolute;
	right: 80px;
	top: -36px;
}

.dot {
  height: 15px;
  width: 15px;
  background-color: inherit;
  border-radius: 50%;
  border: 1px solid #bbb;
  display: inline-block;
  margin-right: 10px;
}

.dot.active {

  background-color:#d38907;
  
}


.slide__wrap {
	position: relative;
	max-width: 1330px;
	margin: 0 auto;
}


.slider-plate {
	position:absolute;
	top:100px;
	left: 100px;
	background-color: rgba(0,0,0,0.55);
    max-width: 40%;
    padding: 40px;
}

.slider-header h1 {
	text-transform: uppercase;
	font-family: 'Spectral', serif;
	font-weight: 700;
	font-size: 24px;
	color: white;
}


.slider-footer a {
	display: block;
	text-decoration: none;
	color: white;
}
.slider-footer:hover {
	background: white;
} 
.slider-footer:hover a {
	color: #333;
}


.slider-footer {
	padding-left: 10px;
	border: 1px solid white;
}

.btn-more {
	padding: 17px 45px;
	font-size: 18px;
}

.btn-more ::focus {
	padding: 17px 35px;
}


/*
MAIN CONTENT NEWS | EVENTS
*/

/*NEWS BOX///////////////////////////////////////////////*/



.main-content {
	max-width:1330px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;	
}

.news-box {
	display: flex;
	flex-direction: column;
	max-width: 60%;
	border: 1px solid red
	justify-content: space-between;
}

.header-news {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	min-height: 100px;
}

.main-card {
	border: 2px #e1e1e1 solid;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background: #ebebeb;
}

.main__right {
	display: flex;
	width: 60%;
	flex-direction: column;
}


.main__img {
	width: 270px;
	height: 300px;
    display: block;
	overflow: hidden;
	background-size: cover;
	background-image: url(../uploads/main-card.jpg);
	margin-right: 15px;
}

.main__description {
	max-width: 100%;
	padding: 15px;
}

.main__link {
	width: 100%;
	padding: 15px;
}

.post .post__date {
    color: #666666;
    font-weight: bold;
    font-size: 16px;
    padding-top: 0px
}

.post__content {
	padding: 15px 15px;
}

.post {
	max-width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

.post__item {
	max-width: 48%;
	border: 2px #e1e1e1 solid;
	margin-top: 20px;
}

.post__item:hover, .main-card:hover {
	-webkit-transition: all 0.5s ease-in-out;
  	-moz-transition: all 0.5s ease-in-out;
  	-o-transition: all 0.5s ease-in-out;
 	transition: all 0.5s ease-in-out;
	border: 2px #d38907 solid;
}

.post__img img {
	max-width: 100%;
}


a.h1post  {
	display: block;
	font-size: 22px;
	font-weight: bold;
	margin:20px 0;
	text-decoration: none;
	color: #272727;
}

a.h1post:hover  {
	color: #272727;
	text-decoration: underline;
}

.post__more {
	color: #d38907;
}


/*EVENTS BOX///////////////////////////////////////////////*/

.event-box {
	display: flex;
	flex-direction: column;
	max-width:38%;
}

.header-event {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	min-height: 100px;
} 

.header-event__link a{
	color: #3d477f;
}

.event__item {
	border: 2px #e1e1e1 solid;
	position: relative;
	border: 2px #e1e1e1 solid;
	background: #ebebeb;
	margin-bottom: 20px;
}

.event__item:hover {
	border: 2px #3d477f solid;
	-webkit-transition: all 0.5s ease-in-out;
  	-moz-transition: all 0.5s ease-in-out;
  	-o-transition: all 0.5s ease-in-out;
 	transition: all 0.5s ease-in-out;
}

.event__img {
	width: 100%;
}

.event__img img {
	width: 100%;
}

.event__description {
	padding: 10px 20px;
}

.date span {
	display: block;
}

span.date {
    top: 0;
    height: 80px;
    font-weight: bold;
    background-color: #3d477f;
    font-size: 16px;
    line-height: 1.2;
    padding-top: 4px;
    width: 80px;
    color: #ffffff;
    left: 0;
    display: block;
    position: absolute;
    text-align: center;
}

.day {
	font-size: 24px;
}

.time {
	top: 80px;
    background-color: #666666;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    display: block;
    position: absolute;
    width: 80px;
    color: #ffffff;
    left: 0;
    text-align: center;
}

/*VIDEO CONTENT //////////////////////////////////////////////////////*/

.video-content {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.video__item {
	max-width: 47%;
}

/*LOAD NEWS BUTTON*/

.load {
	max-width: 1330px;
	margin: 0 auto;
}

.load__btn	{
	width: 100%;
	display: block;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    color: #00bde8;
    text-align: center;
    text-decoration: none;
    background-color: #ebebeb;
    margin-bottom: 30px;
    cursor: pointer;
}

a#load-news {
	display: block;
	width: 100%;
	text-decoration: none;
	color: #3d477f;

}

/* FOOTER ////////////////////////////////////////////////////*/
.footer {
	width: 100%;
	/*background: #3d477f;*/
	background: #434343;
}

.footer__wrap {
	display: flex;
	flex-direction: column;
	max-width: 1330px;
	margin: 0 auto;
}


.footer__row {
	display: flex;
	flex-direction: row;
}

.footer__col1 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 60%;
	padding: 40px 15px;
	
}
.footer__col2 {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	max-width: 40%;
	padding: 40px 0;
	
}

.footer__contact p {
	color: white;
	padding-left: 20px;
}

.footer__logo-content {
	display: flex;
	max-width: 60%;
	align-items: center;
}

a .logo__link {
	display: block;
}

.logo__img {
	max-width: 120px;
	height: auto;
}

.logo__img img {
	width: 100%;
	display: block;
}

.logo__text {
	max-width: 50%; 
	color: white;
}

.copyright {
	border-top: 2px #393939 solid;
	margin-top: 20px;
	padding-top: 20px;
	color: white;
}

.footer__navbar {
	width: 30%;
}

.footer__social {
	text-align: right;
	width: 70%;
}

.footer__social p ,.founder p{
	font-size: 20px;
	font-weight: bold;
	color: white;
	text-align: right;
}


.footer__menu li {
	list-style-type: none;
	padding: 10px 0;
}

.footer__menu li a ,.footer__contact a {
	color: #cfd4f5
}

ul.icon__list {

	font-size: 0px;
}

.icon__list li {
	padding: 0px;
	display: inline-block;
	padding-left: 10px;
}


.responsive-icon {
	max-width: 100%;
	height: auto;
	background-repeat: no-repeat;
	background-size: cover;
}

.icon__list li a {
	display: block;
    width: 40px;
    height: 40px;
}


a.vk {
	background-image: url('../img/icons/vk.png');
}

a.facebook {
	background-image: url('../img/icons/fc.png');
}

a.instagram {
	background-image: url('../img/icons/inst.png');
}

a.youtube {
	background-image: url('../img/icons/youtube.png');
}

a.rss {
	background-image: url('../img/icons/rss.png');
}

.copyright {
	width: 70%;
}
.founder {
	padding:0;
	width: 30%;
	text-align: right;
	color: white
}

.founder a {
	color: #cfd4f5;
}




@media (max-width: 1248px) {
	
	.navbar {
		display: block;
		max-width: 100%;
		margin: 0 auto;
	}

	.navbar__top {
		display: block;
		width: 100%;
		padding: 4px 0;
	}
	
	.navbar__search {
		display: block;
		max-width: 80%;
		margin: 0 auto;
	}

	.form-group{
		width: 100%;
	}

	.input-search {
		display: inline-block;
		width: 90%;
	}

	.header {
		max-width: 80%;
	}


	.slider-plate {
	position:absolute;
	top:100px;
	left: 100px;
	background-color: rgba(0,0,0,0.55);
    max-width: 70%;
    padding: 40px;
}
	
	.main-content {
		flex-direction: column;
	}

	.navbar {
		justify-content: center;
	} 

	.navbar__top ul li {
		display: inline-block;
		list-style-type: none;
		padding:10px 5px;
	}

	.navbar__top ul li a {
	    text-transform: uppercase;
	    font-size: 14px;
	    font-family: 'Roboto', sans-serif;
	    color: white;
	    padding: 5px;
	    line-height: 15px;
	    text-decoration: none;
	}

	.header-news,
	.header-event,
	.video-content,
	.navbar__top {
		width: 80%;
		margin:0 auto;
	} 

	.main-card {
		width: 80%;
		margin:0 auto;
	}

	.post, .event__item {
		width: 80%;
		margin: 0 auto;
	}

	.post__item {
		max-width: 48%;
		border: 2px #e1e1e1 solid;
		margin-top: 40px;
	}

	.news-box {
		max-width: 100%;
	}

	.event-box {
		max-width: 100%;
		flex: 1;
	}
	.footer__wrap {
		max-width: 80%;
	}
	.footer__logo-content {
		max-width: 100%;
	}
	.footer__col2 {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	max-width: 40%;
	padding: 40px 0;
	
	}
	.footer__navbar {
	width: 100%;
	}

	.footer__social {
	text-align: right;
	width: 100%;
	}

	.footer__social p ,.founder p{
	font-size: 20px;
	font-weight: bold;
	color: white;
	text-align: right;
	}

	.icon__list {
		padding: 0px;
	}

	
}



@media (max-width:990px ) {

	

	.dropdown-menu ul li a {
	  color: white;
	  font-weight: 400;
	  font-size: 9px;
	}
}

@media (max-width: 894px) {
	.main-card {
		flex-direction: column;
		flex-wrap: wrap;
	}
	.main__img {
		width: 100%;
		height: 300px;
   		display: block;
    	overflow: hidden;
    	background-size: contain;
    	background-repeat: no-repeat;
    	background-position: center;
	}
	.main__right {
		display: flex;
		width: 100%;
		flex-direction: column;
	}
	.footer__row {
		flex-direction: column;
		justify-content: center;
	}
	
	.footer__col1 {
		justify-content: center;
		max-width: 100%;
		padding: 10px 15px;
	
}
	.footer__col2 {
		justify-content: center;
		max-width: 100%;
		padding: 10px 0;
	
	}

	.footer__logo-content {
		display: flex;
		max-width: 100%;
		align-items: center;
		justify-content: center;
		flex-direction: column;
}

	.logo__text {
		max-width: 100%;
		display: none;
	}

	.icon__list,
	.footer__social p,
	.footer__menu,
	.footer__contact {
		text-align: center;
	}

	.copyright {
		width: 100%;
		text-align: center;
	}

	.founder {
		display: none;
	}

}

@media (max-width: 768px) {
	
	.post__item {
	max-width: 100%;
	border: 2px #e1e1e1 solid;
	margin-top: 10px;
	}

	.slide-main-content {
	height:300px;
	background-size: cover;
	opacity: 1;
	}

	.slider-plate {
	position:absolute;
	top:50px;
	left: 50px;
	background-color: rgba(0,0,0,0.55);
    width: 100%;
    padding: 20px;
	}

	.slider-header h1 {
	font-size: 16px;
}

	.slider-footer {
		padding-left: 10px;
		border: 1px solid white;
	}

	.btn-more {
		padding: 12px 25px;
		font-size: 12px;
	}

	.btn-more ::focus {
		padding: 12px 25px;
	}

	.input-search {
		display: inline-block;
		width: 70%;
	}
	.menu-button {
	display: block;
	}

	.navbar {
		display: none;
	}


}

@media (max-width: 640px) {

	.video-content {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		width: 80%;
	}

	.video__item {
		max-width: 100%;
	}

	.video__item img {
		max-width: 100%;
	}

	
}